@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.barralateral {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;

}

.barralateral header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.barralateral ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px; /* <- Aqui é o separador das linhas entre os campos */
    font-size: 20px;
    color: white;
    padding-left: 5px;
    box-sizing: border-box;
    border-top: 1px solid rgbar(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 20px;
    background-color: aliceblue;
    color: #042331;
    transition: .4s;
}

.barralateral ul a i{
    margin-right: 6px;
}
 
.barraSuperior{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #042331;
    background: aliceblue;
    margin-left: .3rem;
    padding-left: 300px;
    line-height: 40px;
    width: 100%;
}

.barraSuperior ul li{
    padding-right: 50px;
    margin: .5rem;
    font-size: 37px;
    color: #042331;
}

ul li:hover i{
    background-color: aliceblue;
    color: #042331;
    transition: .4s;
}

.container{
    width: 100%;
    height: 100%;
    margin: .3rem;
    padding: 0 1rem 1rem;
    margin-left: .3rem;
    align-items: center;
    justify-content: center;

}



.calculator {
    width: 400px;
    height: 600px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 450px;
    border: 1px solid;
    margin-top: 7rem;
    border-radius: 10px;
}

#tela {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);/* Divide os botões em 4 colunas */
    grid-gap: 5px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.74);
    transition: .4s;
}

button:hover {
    cursor: pointer;
    background: #fff;
    transition: .4s;
    color: #549467;
}

.operador {
    background-color: #549467; /* Cor dos botões de operações */
    color: whitesmoke;
}

.limpa {
    margin-top: 15px;
    background-color: #18572b; /* Cor do botão de limpar a tela */
    color: whitesmoke;
}